/* лого чорний #000000 */
/* основний синій #2196F3 */
/* основний чорний #212121 */
/* сірий номер телефону #757575 */
/* основний блок Hero білий #FFFFFF */
/* футер посилання та телефон чорний з прозорістю rgba(255, 255, 255, 0.6) */
/* блок Hero і футер колір фону #2F303A */



:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --focus-color: #FFFFFF;
    --logo-header-color: #000000;
    --mail-tel-footer-color: rgba(255, 255, 255, 0.6);
    --section-background-color: #2F303A;
    --main-background-color: #F5F5F5;
    --button-hover-color: #188CE8;
    --box-shadow-hero: rgba(0, 0, 0, 0.15);
    --box-shadow-one: rgba(0, 0, 0, 0.1);
    --box-shadow-two: rgba(0, 0, 0, 0.08);
    --box-shadow-three: rgba(0, 0, 0, 0.12);
    --box-shadow-four: rgba(0, 0, 0, 0.14);
    --box-shadow-five: rgba(0, 0, 0, 0.2);
    --bg-staff-color: #F5F4FA;
    --border-color: #EEEEEE;
    --border-header-color: #ECECEC;
    --border-footer-form: rgba(255, 255, 255, 0.3);
    --border-form-modal: rgba(33, 33, 33, 0.2);
    --placeholder-modal-color: rgba(117, 117, 117, 0.5);
    --footer-placeholder-color: rgba(255, 255, 255, 0.6);
    --icon-header-color: #757575;
    --icon-social-first: #afb1b8;
    --time-animation: 250ms;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}


body {

    background-color: var(--focus-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}


/* Шапка */

ul {
    list-style: none;
    padding-left: 0;
}

.list {
    margin-top: 0;
    margin-bottom: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.header{
    border-bottom: 1px solid var(--border-header-color);
}

.site-header {
    display: flex;
    align-items: center;
}

.logo,
.logo-footer {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo__first-part {
    color: var(--accent-color);
}

.logo__second-part {
    color: var(--logo-header-color);
}



.navigation__list {
   display: flex;
   margin-left: 93px;
}

.navigation__item:not(:last-child) {
    margin-right: 50px;
}

.navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    

    color: var(--title-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color var(--time-animation) var(--cubic);
}

.navigation__link:hover,
.navigation__link:focus {
    color: var(--accent-color);
}

.navigation__link-active::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

    opacity: 1;
}


.navigation__link-active {
    color: var(--accent-color);
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts__item:nth-child(2) {
    margin-left: 50px;
}


.contacts__link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    fill: var(--icon-header-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color var(--time-animation) var(--cubic), fill var(--time-animation) var(--cubic);

}

.contacts__link:hover,
.contacts__link:focus{
    color: var(--accent-color);
    fill: var(--accent-color);
}

/* main */

.hero {
    max-width: 1600px;
    min-height: 605px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--section-background-color);
}

.hero__title {
    max-width: 696px;
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

    color: var(--focus-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
   
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero__button {
    display: inline-block;
    padding: 10px 32px;
    min-width: 216px;
  
    border-color: transparent;
    box-shadow: 0px 4px 4px var(--box-shadow-hero);
    border-radius: 4px;

    background-color: var(--accent-color);
    color: var(--focus-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;

    cursor: pointer;
    transition: background-color var(--time-animation) var(--cubic);

}

.hero__button:hover,
.hero__button:focus {
    background-color: var(--button-hover-color);
}



/* Особливості */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section .section-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 0;
    
}
.features__item {
    width: 270px;
}

.features__item:not(:first-child) {
    margin-left: 30px;
}

.features__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--bg-staff-color);
}


.features__title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.features__description {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.71;
}

/* Чим ми займаємося */

.section.service {
    padding-top: 0;
}

.services {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    
}

.services__item {
    display: block;
    position: relative;
}

.services__item:not(:first-child) {
    margin-left: 30px;
}

.services__title {
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 0;
    margin: 0;


    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--focus-color);
    background: rgba(47, 48, 58, 0.8);
}

.services__image{
    display: block;
    max-width: 100%;
}

/* Наша команда */

.section.people {
    margin-top: 0;
    margin-bottom: 0;

    background-color: var(--bg-staff-color);
}


.staff {
    display: flex;
    
    margin-top: 0;
    margin-bottom: 0;
}

.staff__card {
    box-shadow: 0px 1px 3px var(--box-shadow-three), 0px 1px 1px var(--box-shadow-four), 0px 2px 1px var(--box-shadow-five);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--focus-color);
}

.staff__card:not(:first-child) {
    margin-left: 30px;
}

.staff__photo {
    display: block;
    max-width: 100%;
}

.bottom-card {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 270px;
}
   
.staff__name {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center
}

.staff__specialization {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.social-media__icons:not(:last-child) {
    margin-right: 10px;
}

.social-media__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--icon-social-first);
    transition: background-color var(--time-animation) var(--cubic), fill var(--time-animation) var(--cubic);
}


.social-media__link:hover,
.social-media__link:focus {
    background-color: var(--accent-color);
    fill: var(--focus-color);
}



.clients {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

.clients__logo:not(:last-child) {
    margin-right: 30px;
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-social-first);
    border-radius: 4px;
    fill: var(--icon-social-first);
    transition: border-color var(--time-animation) var(--cubic), fill var(--time-animation) var(--cubic);
}


.clients__link:focus,
.clients__link:hover {
    border-color: var(--accent-color);
    fill: var(--accent-color)
}

footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--section-background-color);
}

footer .container {
    display: flex;
    align-items: baseline;
}
.container .logo-footer {
    display: inline-block;
    margin-bottom: 20px;
}

.logo-footer__first-part {
    color: var(--accent-color);
}

.logo-footer__second-part {
    color: var(--focus-color);
}

.footer-contacts{
    margin-top: 0;
    margin-bottom: 0px;
    font-style: normal;
    line-height: 1.71;

}

.footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-contacts__link.map {

    color: var(--focus-color);
}
.footer-contacts__link {
    display: inline-block;
    text-decoration: none;
    color: var(--mail-tel-footer-color);

    transition: color var(--time-animation) var(--cubic);
}


.footer-contacts__link:hover,
.footer-contacts__link:focus {
    color: var(--accent-color);
}

.block-social {
    margin-left: 70px;
}

.block-social__title {
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--focus-color);
}

.social {
    display: flex;
    margin: 0;
    
}
.social__item:not(:last-child) {
    margin-right: 10px;
}
.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color var(--time-animation) var(--cubic);
}

.social__link:hover,
.social__link:focus {
    background-color: var(--accent-color);
}

.form-subscription {
    justify-content: baseline;
    align-items: flex-end;
    margin-left: 93px;

    width: 570px;
    height: 86px;
}

.form-subscription__title {
    margin-bottom: 20px;
    margin-top: 0;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--focus-color);
}

.form-subscription .form {
    display: flex;
}


.form__label {
    display: flex;
    flex-direction: column;
    margin-right: 12px;

}

.field__input {
    display: block;
    width: 358px;
    height: 50px;
    padding: 15px 16px;

    border: 1px solid var(--border-footer-form);
    border-radius: 4px;
    outline: none;
    background-color: var(--section-background-color);
    color: var(--focus-color);
    transition: border-color var(--time-animation) var(--cubic);
}

.field__input:placeholder-shown{
    font-size: 16px;
    line-height: 1.25;
    color: var(--footer-placeholder-color);
}

.form__label:focus-within > .field__input {
    border-color: var(--accent-color);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 27px;

    width: 200px;
    height: 50px;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    background-color: rgba(33, 150, 243, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--focus-color);
    border: none;

    transition: background-color var(--time-animation) var(--cubic);
}

.button:focus,
.button:hover {
    background-color: var(--button-hover-color);
}

.button__icon {
    margin-left: 10px;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity var(--time-animation) var(--cubic),
    visibility var(--time-animation) var(--cubic);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
        
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
}

.backdrop .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px 39px 40px 41px;

    min-width: 528px;
    min-height: 581px;
    background-color: var(--focus-color);
    border-radius: 4px;

    z-index: 2;

    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: transform var(--time-animation) var(--cubic),
    opacity var(--time-animation) var(--cubic);

}

.modal .modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--focus-color);
    

    transition: fill var(--time-animation) var(--cubic);
}

.modal .modal-button:hover,
.modal .modal-button:focus {
    fill: var(--accent-color);
}

.modal-form {
    width: 100%;
    height: 100%;
}

.modal .form-title {
    margin-top: 0;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    
    color: var(--title-text-color);
}

.modal-form .form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

 .form-field input {
    width: 100%;
    height: 40px;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    padding-right: 12px;
    border: 1px solid var(--border-form-modal);
    border-radius: 4px;
    outline: none;

    transition: border-color var(--time-animation) var(--cubic);
 }

 .form-field:focus-within  .form-input {
    border-color: var(--accent-color);
 }
 .form-field .form-label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    
    color: var(--icon-header-color);
 }

 .form-field .input-icon {
    position: absolute;
    left: 12px;
    top: 29px;

    transition: fill var(--time-animation) var(--cubic);
 }

 .form-field:focus-within .input-icon{
    fill: var(--accent-color);
 }

 .form-field.coments {
    margin-bottom: 20px;
 }

 .form-field .field {
    min-height: 120px;
    padding: 12px 16px;

    border: 1px solid var(--border-form-modal);
    border-radius: 4px;

    resize: none;
    outline: none;

    transition: border-color var(--time-animation) var(--cubic);
 }

 .coments:focus-within .field{
    border-color: var(--accent-color);
 }

 .field::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--placeholder-modal-color);
 }

.modal-form .policy-label {
    position: relative;
    margin-bottom: 30px;
    text-align: center;
    display: block;

    font-size: 14px;
    line-height: 1.71;
    color: var(--icon-header-color);
}

.policy-label .checkbox-icon {
    position: absolute;
    width: 16px;
    height: 15px;
    left: 10px;
    top: 4px;
    background-color: var(--focus-color);
    fill: var(--focus-color);

    border: 2px solid var(--title-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    transition: background-color var(--time-animation) var(--cubic);
}

.policy-label .checkbox {
   position: absolute;
    -webkit-appearence: none;
    -moz-appearence: none;
    appearance: none;
}

.checkbox:checked ~ .checkbox-icon {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    border-radius: 2px;
    box-shadow: none;
    background-origin: border-box;
}

.policy-label .terms {
    color: var(--accent-color);
}

.modal-form .form-button {
    display: block;
    width: 200px;
    height: 50px;
    padding: 10px 52px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--focus-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    transition: background-color var(--time-animation) var(--cubic);
}

.modal-form .form-button:hover,
.modal-form .form-button:focus {
    background-color: var(--button-hover-color);
}


/* Стилі Портфоліо */

.section.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container .filters {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.filters .item:not(:last-child) {
    margin-right: 8px;
}

.filters .filters-button {
    display: inline-block;
    padding: 6px 22px;
    min-width: 103px;
    
    color: var(--title-text-color);
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

    cursor: pointer;
    border-color: transparent;
    border-radius: 4px;
    
    transition: color var(--time-animation) var(--cubic), background-color var(--time-animation) var(--cubic), box-shadow var(--time-animation) var(--cubic);
} 

.filters .all {
    display: inline-block;
    padding: 6px 25px;
    min-width: 73px;
}

.filters .filters-button:hover,
.filters .filters-button:focus {
    color: var(--focus-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px var(--box-shadow-one), 0px 1px 2px var(--box-shadow-two), 0px 2px 2px var(--box-shadow-three);
}

/* Стилі карток */
.projects {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    gap: 30px;
}

.projects .cards {
    width: calc((100% - 60px)/3);
    background: var(--focus-color);
    
}

.cards .link {

    display: block;
    text-decoration: none;
    transition: box-shadow var(--time-animation) var(--cubic);
}

.link .animation {
    position: relative;
    overflow: hidden;
    
}

.link .link-animation {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    margin-top: 0;
    margin-bottom: 0;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;
    color: var(--focus-color);
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform var(--time-animation) var(--cubic);

}

.cards .link:hover,
.cards .link:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cards .link:hover .link-animation,
.cards .link:focus .link-animation {
    transform: translateY(0);
}

.cards img {
    display: block;
    max-width: 100%;
}



.cards .bottom-cards {
    padding: 20px 24px;
    width: 370;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

}

.cards .name {
    margin-top: 0;
    margin-bottom: 4px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}


.cards .project-type {
    margin-top: 0;
    margin-bottom: 0;
}
.projects .project-type {

    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.88;
}